.nav-container {
    padding-left: 50px;   
    background-color: #373E7A;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2)
}

ul {
    list-style: none;
    display: flex;
    padding: 40px;
    margin: 0%;
}

li {
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: #b1b5e0;
    font-weight: bold;
}